local_backup/
clones/
references/

# mac os
.DS_Store

# latex build outputs
*.aux
*.log
*.synctex.gz
*.run.xml
*.bbl
*.blg
*.bcf
*.pdf
*.out
*.lot
*.lof
*.toc
pdfa.xmpi
build/
!thesis/thesis_expressing_crdts_with_datalog_leo_stewen.pdf
